<form >
	<div class="input-group opacity8">
		<span class="input-group-addon" >@</span>
		<input type="text" class="form-control input-append" placeholder="在“收件箱”中添加一个任务" ng-model-instant autofocus  ng-model="item.country" ng-enter="addtask()" >
	</div>
	{{totals}}
	<div class="form-control to-list" ng-repeat="item in wlists">
		<input type="checkbox" class="input-control" >
		<span>{{item.country}}</span>
		<div class="fr">
			<span>{{date | date : 'yyyy-MM-dd '}}</span>
			<span class='logo' >{{item.id}}</span>	
			<i class="fa fa-star"></i>
			
		</div>
	</div>
	
</form>

